<%- layout('layouts/boilerplate') -%>

  <h1>All Campgrounds</h1>
  <a href="/campgrounds/new">Add New Campground</a>
  <% for(let campground of campgrounds) { %>
    <div class="card mb-3">
      <div class="row">
        <div class="col-md-4">
          <% if (campground.images.length===0) { %>
            <img style="max-height: 250px;" class="img-fluid"
              src="https://res.cloudinary.com/dupwmux7x/image/upload/v1759647982/No-Image-Placeholder.svg_wgr6fr.png" />
            <% } else {%>
              <img class="img-fluid" src="<%= campground.images[0].url %>" />
              <% } %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              <%= campground.title %>
            </h5>
            <p class="card-text">
              <%= campground.description %>
            </p>
            <p class="card-text">
              <small class="text-muted">
                <%= campground.location %>
              </small>
            </p>
            <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">View Campground</a>
          </div>
        </div>
      </div>
    </div>
    <% } %>